body{
  padding-top: 50px;
}


#navbar{
/*background-color */
background-color:#800000;
}

/*change color to white*/

#text{
  background-color:#000000;
  color:#FFFFFF;
}

#background-image{
  position:relative;
  padding:0;
  margin:0;
  overflow:hidden;
  height:300px;
  background-image: url(..images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-position: top center;
  background-attachment: fixed;
}

#image-1{
background-image: url('logo.jpg');
}

/*#images{
  width:250px;
height: 200px;
}*/

#footer{
margin-top:50px;
background-color: #800000;
color: #FFFFFF;
}

#quantity{
  margin-left: -16px;
}
#qauntity-label{
  margin-left: 16px;
}
